.add-todo-div {
  text-align: center;

  .add-todo-input {
    margin-bottom: $standard-margin;

    input {
      font-size: 1rem;
    }
  }

  .add-todo-button {
    background-color: $todos-color;
    color: $light-background;
    font-size: 1rem;
    font-weight: 600;
    font-family: $font-family;
  }
}
