body {
  background-color: $light-background-color;
  .todos-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .todos {
      max-width: 330px;
      height: 675px;
      background-color: $light-background;
      position: relative;
      margin: 90px auto;
      border-radius: 36px;
      overflow: hidden;
      box-shadow: 7px 7px 20px -12px rgba(0, 0, 0, 1);
      .tab-title {
        font-size: 20px;
      }
      .todos-list {
        max-height: 580px;
        overflow-y: scroll;
        .todos-row {
          &:hover {
            background-color: $light-background-color;
          }
          .remove-padding {
            padding: 0;
            &.todos-done-checkbox {
              width: 45px;
              > span {
                color: $primary-color;
              }
            }
            &.todos-title-input {
              > p {
                width: 210px;
                word-wrap: break-word;
              }
            }
            &.todos-delete-button {
              text-align: right;
              padding-right: 10px;
              > button {
                &:hover {
                  background-color: $primary-color;
                }
                > span {
                  > svg {
                    &:hover {
                      color: $dark-background-900;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .add-todos-icon {
        position: absolute;
        bottom: 55px;
        right: 20px;
        > button {
          background-color: $primary-color;
          &:hover {
            background-color: $primary-color;
          }
          > span {
            > svg {
              font-size: 45px;
            }
          }
        }
      }
      .hr-line {
        width: 145px;
        text-align: center;
        border: 0;
        border-bottom: 4px solid $dark-background-300;
        position: absolute;
        border-radius: 20px;
        bottom: 15px;
        left: 90px;
      }
    }
  }

  .add-todos-dialog {
    width: 265px;
    .add-todo-div {
      text-align: center;
      .add-todo-input {
        margin-bottom: 10px;
        input {
          font-size: 20px;
        }
      }
      .add-todo-button {
        background-color: $primary-color;
        color: $light-background;
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
