.todos-list {
  max-height: 580px;
  overflow-y: scroll;

  .todos-row {
    &:hover {
      background-color: $light-background-color;
    }

    .remove-padding {
      padding: 0;

      &.todos-done-checkbox {
        width: 45px;

        >span {
          color: $primary-color;
        }
      }

      &.todos-title-input {
        >p {
          width: 210px;
          word-wrap: break-word;
        }
      }

      &.todos-delete-button {
        text-align: right;
        padding-right: 10px;

        >button {
          &:hover {
            background-color: $primary-color;
          }

          >span {
            >svg {
              &:hover {
                color: $dark-background-900;
              }
            }
          }
        }
      }
    }
  }
}