
body {
  background-color: $light-background-color;
  .todo-outer {
    flex: 1 1 auto;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
    text-align: center;
    .todo-wrapper {
      max-width: 330px;
      height: 675px;
      background-color: $light-background;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 36px;
      box-shadow: 7px 7px 20px -12px rgba(0, 0, 0, 1);
      .tabs-menu {
        border-top-left-radius: 36px 36px;
        border-top-right-radius: 36px 36px;
        .tab-title {
          font-size: 20px;
        }
      }
      .list {
        max-height: 580px;
        overflow-y: scroll;
        .todo-row {
          &:hover {
            background-color: $light-background-color;
          }
          .noBorder {
            padding: 0;
          }
          .noBorder.doneCheckBox {
            width: 45px;
            > span {
              color: $primary-color;
            }
          }
          .noBorder.todo-title {
            > p {
              width: 210px;
              word-wrap: break-word;
            }
          }
          .noBorder.del-button {
            text-align: right;
            padding-right: 10px;
            > button {
              &:hover {
                background-color: $primary-color;
              }
              > span {
                > svg {
                  &:hover {
                    color: $dark-background-900
                  }
                }
              }
            }
          }
        }
      }
      .add-todo-icon {
        position: absolute;
        bottom: 55px;
        right: 20px;
        > button {
          background-color: $primary-color;
          &:hover {
            background-color: $primary-color;
          }
          > span {
            > svg {
              font-size: 45px;
            }
          }
        }
      }
      .hr-line {
        width: 145px;
        text-align: center;
        border: 0;
        border-bottom: 4px solid $dark-background-300;
        position: absolute;
        border-radius: 20px;
        bottom: 15px;
        left: 90px;
      }
    }
  }
 
  .todo-input-dialog {
    width: 280px;
    .add-todo-div {
      text-align: center;
      .add-todo-input{
        margin-bottom: 10px;
        input {
          font-size: 20px;
        }
      }
      .add-todo-button{
        background-color: $primary-color;
        color: $light-background;
        font-size: 18px;
        font-weight: 600;

      }
    }
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
